/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2021, 20:45:31
    Author     : adama.samassekou
*/

body {
    margin: O;
    padding: 0;
    background-image: url(images/ok.jpg);
    background-size :cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.content{
    position: fixed;
    width: 340px;
    height: auto;
    top: 30%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    padding-bottom: 20px;
    border-top: 1px solid #6699FF;
    border-bottom: 1px solid #6699FF;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

input {
    font-family: sans-serif;
    outline: none;
}

input[type=text],
input[type=number] {
    color: #777;
    padding-left: 7px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    font-size:19px;
}

input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: auto;
    height: 35px;
    font-size: 18px;
    background-color: #6699FF;
}